.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
  }
  
  .albums {
    width: 50%; 
  }
  
  .albums-Container {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 3rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .albums-Container:hover {
    transform: translateY(-5px);
  }
  